[user]
  name = Adam Papai
  email = wooh@wooh.hu
  signingkey = EDD99F83
[push]
  default = tracking
[pull]
  rebase = true
[rebase]
  autostash = true
[alias]
  st = status
  co = checkout
  up = pull
  l = log -p
  p = push
  pf = push -f
  undo-commit = reset --soft HEAD^
[filter "media"]
  required = true
  clean = git media clean %f
  smudge = git media smudge %f
[filter "lfs"]
  clean = git-lfs clean %f
  smudge = git-lfs smudge %f
  required = true
[merge]
  tool = opendiff
[diff]
  tool = opendiff
[commit]
  gpgsign = true
[core]
  editor = vim
  whitespace = trailing-space,space-before-tab
[help]
  autocorrect = 1
[remind]
  paths = /home/wooh/repos/ops-*,/home/wooh/repos/golib/src/github.com/cloudbees/opscore,/home/wooh/repos/ansible-devenv,/home/wooh/repos/dotfiles,/home/wooh/repos/secrets-store-ops-secure,/home/wooh/repos/woocommerce-otpbank-payment-gateway,/home/wooh/repos/cloudbees-jenkins-ops-library/
